[alias]
    up = !git fetch && git rebase --autostash FETCH_HEAD
    url =! bash -c 'git config --get remote.origin.url | sed -E "s/.+:\\(.+\\)\\.git$/https:\\\\/\\\\/github\\\\.com\\\\/\\\\1/g"'
    ;url =! bash -c 'git config --get remote.origin.url | sed -E "s/.+:\\(.+\\)\\.git$/https:\\\\/\\\\/gitlab\\\\.com\\\\/\\\\1/g"'
    recommit = commit --amend --no-edit --reset-author

[branch]
    sort = -committerdate

[column]
    ui = auto

[core]
    excludesfile = ~/.gitignore_global
    editor = nvim

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[init]
    defaultBranch = main
    templatedir = ~/.git_templates

[merge]
    conflictStyle = zdiff3

[pull]
    ;default = current
    rebase = true

[push]
    default = simple
    autoSetupRemote = true
    ;followTags = true

[rerere]
    enabled = true
    autoupdate = true

[tag]
    sort = -version:refname

;[commit]
;    gpgsign = true


;https://blog.gitbutler.com/how-git-core-devs-configure-git/
