[color]
    ui = true

[push]
    default = current

[pull]
    default = current
    rebase = true

[push]
    default = current

[core]
    excludesfile = ~/.gitignore_global
    editor = nvim

[flake8]
    complexity = -1
    strict = true
    ignore =
    lazy = false

[alias]
    up = !git fetch && git rebase --autostash FETCH_HEAD
    url =! bash -c 'git config --get remote.origin.url | sed -E "s/.+:\\(.+\\)\\.git$/https:\\\\/\\\\/github\\\\.com\\\\/\\\\1/g"'
    ;url =! bash -c 'git config --get remote.origin.url | sed -E "s/.+:\\(.+\\)\\.git$/https:\\\\/\\\\/gitlab\\\\.com\\\\/\\\\1/g"'
    recommit = commit --amend --no-edit --reset-author

[init]
    defaultBranch = main
    templatedir = ~/.git_templates

[color "diff"]
    meta = yellow black

[diff]
    tool = vimdiff
