[color]
    ui = true
[push]
    default = matching
[user]
    name =
    email =
[core]
    excludesfile = ~/.gitignore_global
    editor = vim +start

[flake8]
    complexity = -1
    strict = true
    ignore =
    lazy = false
