[color]
    ui = true
[push]
    default = current
[core]
    excludesfile = ~/.gitignore_global
    editor = vim +start +'normal $'

[flake8]
    complexity = -1
    strict = true
    ignore =
    lazy = false
